@import './styles/vars.css';
@import './styles/font.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

.ant-switch-checked {
  background-color: var(--primary-600) !important;
}

body {
  min-height: 100vh;
}